._product_card{
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	background-color: #FFF;
	padding: 5px 10px;

	._pc_img {
		padding: 10px 0;
		img {
			height: auto;
		}
	}

	&:hover {
		._pc_img {
			padding: 5px 0 15px;
			transition-delay: 0.3s;	
		}
	}

	div {
		width: 100%;
		padding: 5px 30px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		img {
			width: 100%;
			margin: 5px 0; 
		}
	}

	.seckill-item_info {
		margin-top: 5px;
		color: #000;
		text-shadow: 0.2px 0.3px 0.1px rgb(0,0,0,0.7);
	}

	.seckill-item {
		width: 100%;
		text-align: center;
		vertical-align: baseline;
		
		span {
			height: 100%;
			margin: 0 0.5px;
			font-family: sans-serif;
		}

		.price-origin {
			width: calc(50% - 5px);
			height: 100%;
			margin: 0 auto;
			color: rgb(207,40,42);
			text-shadow: 0px 1px 0.5px rgb(207,40,42,0.4);
			padding: 0 10px;
		}

		.item-col {
			width: calc(50% - 5px);
			height: 100%;
			color: #000;
			padding: 0;
			text-shadow: 0px 1px 0.5px rgb(0,0,0,0.7);
		}
	}
}