._kind {
	width: 100%;
	text-align: center;
	background-color: #FAFAFA;
	
	._kind_top_bar {
		width: 100%;
		color: #000;
		padding: 0.1% 5%;
		background-color: #FFF;
	}

	._kind_items {
		width: 90%;
		margin-top: 10px;
		display: inline-flex;
		// justify-content: space-between;
		// align-items: center;
		justify-content: center;
		flex-flow: row wrap;
		padding: 0.1% 1%;
		
		._kind_item {
			width: 18%;
			margin: 0.3% 0.2%;
			padding: 0.1% 0.1%;
		}
	}
}