._user {
  width: 100%;
  min-height: 30vh;
  padding: 20px 0;
  background-color: #FAFAFA;

  ._user_content {
    padding: 20px 20px;
    margin: 0 auto;
    text-align: center;
  }

  // .site-drawer-render-in-current-wrapper {
  //   position: relative;
  //   height: 200px;
  //   padding: 48px;
  //   overflow: hidden;
  //   text-align: center;
  //   background: #fafafa;
  //   border: 1px solid #ebedf0;
  //   border-radius: 2px;
  // }

  .ant-layout {
    width: 100%;
    min-height: 600px;
    border: 1px solid rgb(240, 242, 245);

    .ant-menu-submenu-selected {
      // color: #1890ff;
      color: rgb(255, 81, 2);
    }

    .ant-menu-item-selected {
      // color: #1890ff;
      color: rgb(255, 81, 2);
      background-color: rgb(250, 240, 225);
    }

    .ant-menu-item {
      &:hover {
        color: rgb(255, 81, 2);
      }
    }

    .ant-menu-submenu-title {
      &:hover {
        color: rgb(255, 81, 2);
      }
    }

    .ant-menu-item {
      &::after {
        border-right: 3px solid rgb(255, 81, 2);
      }
    }
  }

  #components-layout-demo-top-side .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 0;
    float: left;
  }

  .site-layout-background {
    background: #fff;
  }
}